{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href=" {{ asset('css/main.css') }} ">
{% endblock %}
{% block body %}

<div class="sidenav">
    <div class="login-main-text">
        <h2>Application<br> Login Page</h2>
        <p>Login from here to access.</p>
    </div>
</div>
<div class="main">
    <div class="col-md-6 col-sm-12">
        <div class="login-form">
         {% if error %}
            <div class="alert alert-danger"> {{ error.messageKey|trans(error.messageData, 'security') }} </div>
         {% endif %}
        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}
            {{ form_start(form) }}
                <div class="form-group">
                    {{ form_row(form.email ,{'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.password ,{'attr': {'class': 'form-control'}}) }}
                </div>
                {{ form_widget(form.login, {'attr': {'class': 'btn btn-black'}}) }}
                <span>Register Now =>
                <a class="btn btn-warning" href=" {{ path('register') }} "> Register</a>
                </span>
            {{ form_end(form) }}
        </div>
    </div>
</div>

{% endblock %}

